<h1>Movie Date</h1>
<div class="slider">
	<div class="movie">
		<% @movies.each do |movie| %>
			<a href="<%= movie[:url] %>"><img src="<%= movie[:img] %>" alt=""><%= movie[:name] %></a>
			<% puts @movies %>
		<% end %>
	</div>
</div>
<div class="testimonials">
	<div class="testimonial">
		<h3 class="title">"Rick &amp; Morty"</h3>
		<img src="" alt="">
		<p>"This is a testimonials about seeing movies with some people."</p>
	</div>
	<div class="testimonial">
		<h3 class="title">"Rick &amp; Morty"</h3>
		<img src="" alt="">
		<p>"This is a testimonials about seeing movies with some people."</p>
	</div>
	<div class="testimonial">
		<h3 class="title">"Rick &amp; Morty"</h3>
		<img src="" alt="">
		<p>"This is a testimonials about seeing movies with some people."</p>
	</div>
</div>